	body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(45deg, black, white);
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            transition: background 1s;
        }
